body {
    background: black;
    margin: 0;
    color: white;
    font-family: sans-serif;
}

.container {
    padding: 1rem;
    padding-bottom: 5rem;
    margin: auto;
    max-width: 64rem;
    width: 100%;
}

h1, p {
    margin: 0;
}

#check-word {
    padding: 2rem 0;
    font-size: 2rem;
    line-height: 1.1;
    font-family: serif;
}
#check-word::before {
    content: "\"";
}
#check-word::after {
    content: "\"";
}

input, textarea {
    background: inherit;
    color: inherit;
    border: none;
    border-radius: .5rem;
    padding: .5rem 1rem;
    background: rgb(15, 15, 15);
}

textarea {
    font-size: 2rem;
    width: 100%;
    resize: none;
    font-family: serif;
}

.actions {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    padding: 1rem 0;
}

.nav-link {
    color: inherit;
    text-decoration: none;
}

button{
    background:  white;
    color: black;
    border-radius: .5rem;
    padding: 0.3rem 0.8rem;
}

button[disabled] {
    opacity: .5;
    cursor: not-allowed;
}

.message {
    position: fixed;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    width: 24rem;
    background: blue;
    border-radius: .5rem;
    padding: 1rem;
    display: none;
    max-height: 4rem;
    overflow: auto;
}